doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My calculator
    body 
        header 
            h1 My calculator 
            div.main-container
                div.specials-container    
                    button.special#ac  AC 
                    button.special#per  % 
                    button.special#c  C 
                div.operators-container
                    button.operator#add + 
                    button.operator#sub -
                    button.operator#divi รท
                    button.operator#mult x
                    
