*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    width: 100vw;
    height: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}
main {
    height: 90vh;
}
.screen {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 110px;
    border-radius: 10px;
    background-color: rgb(0, 54, 69);
    span{
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 5px;
        font-size: 60px;
        font-family: 'Black Ops One', cursive;
        width: 90%;
        height: 70%;
        background-color: darkolivegreen;

    }
}
.main-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    width: 480px;
    height: auto;
    border: 2px solid #000001;
    border-radius: 10px;
    background-color: rgb(0, 54, 69);
    button {
        border-radius: 8px;
        border: none;
        font-size: 25px;
    }
}
.specials-container {
    display: flex;
    flex-direction: column;
    height: auto;
    button {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        margin-right: 10px;
        background-color: tomato;
        color: whitesmoke;
    }
}
.numbers-container {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    button {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        margin-right: 10px;
        background-color: gray;
        color: whitesmoke;
    }

}
.operators-container {
    display: flex;
    flex-direction: column;
    width: 80px;
    button {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        margin-right: 10px;
        background-color: #212122;
        color: whitesmoke;
    }
}
